/* #region 1. configurações estruturais */
/* Usei um grid container com aside para definir 
que o menu de navegação ocupa 240px e o main 1fr (o resto da tela) 
Coloquei algumas referencias visuais do projeto aqui:
https://www.figma.com/board/cSYBCBDgWsyIFR2UFWwnNs/AT-InteratividadeWeb-Moodboard-Diogo?node-id=0-1&t=KQoDwqhK51Fw9DSs-1
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html,
body {
    height: 100%;
    overflow: hidden;
    background-color: #121212;
}

section h2 {
    color: white;
}


.app-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    height: 100vh;
    transition: grid-template-columns 0.3s ease;
}

.app-container.reduzido {
    grid-template-columns: 60px 1fr;
}

main {
    overflow-y: auto;
    background-color: #121212;
    min-width: 0;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(180px, auto);
    gap: 20px;
    padding: 20px;
}


.descricao-header {
    padding: 20px 30px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #222;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

/* #endregion */

/* #region 1.1 configurações gerais de estilo */

:root {
    --cor-primaria: #4ade80;
    --cor-secundaria: #ef4444;
    --cor-hover-btn: #22c55e;
    /* color:#8bec7d; */
    --btn-padding: 8px 15px;
}

section p {
    color: white;
}

button {
    background: var(--cor-primaria);
    color: #000;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

/* #endregion */

/* #region 2. nav */

/* #region 2.1 nav extendida */
.sidebar {
    background-color: #0d0d0d;
    color: white;
    border-right: 1px solid #222;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    transition: padding 0.3s ease;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    padding: 10px;
    gap: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.sidebar header{
    border-bottom: 1px solid #211f1f;
    padding: 5px;
    margin-top: -13px;
}

#icone-toggle{
    font-size: 0.9rem;

}
.texto-logo{
    color: var(--cor-primaria);
    padding: 0px 10px;
    text-align: center;
    align-items: center;

}

#btn-reduzir-nav {
    background: transparent;
    color: #888;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 3px 4px;
    cursor: pointer;
    align-items: center;
    transition: 0.2s;
}

#btn-reduzir-nav:hover {
    background-color: #222;
    color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.sidebar ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #888;
    text-decoration: none;
    font-size: 14px;
    padding: 12px 15px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.sidebar a:hover {
    color: #e8f6ed;
    background-color: rgba(178, 188, 182, 0.1);
}

.sidebar a.active-link {
    color: var(--cor-primaria);
    background-color: rgba(74, 222, 128, 0.1);
}

.material-symbols-outlined {
    font-size: 20px;
}
/* #endregion */

/* #region 2.2 sidebar reduzida */

.app-container.reduzido .sidebar {
    padding: 20px 0;
}

.app-container.reduzido header{
    margin-left: 4px; 
    /* consertando consequências de maneira nada profissional.... */
}

.app-container.reduzido #titulo-painel{
    margin-left: -1px;
}
.app-container.reduzido .logo-sidebar {
    flex-direction: column;
    gap: 20px;
}
.app-container.reduzido .sidebar header{
    border-bottom: none;
}

.app-container.reduzido .logo-wrapper {
    justify-content: center;
    width: 100%;
}

.app-container.reduzido .sidebar .texto-logo,
.app-container.reduzido .sidebar .texto-link {
    display: none;
}

.app-container.reduzido .sidebar a {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;

}

.app-container.reduzido .sidebar ul{
    margin-top: none;
}

.app-container.reduzido .sidebar a:hover {
    color: #e8f6ed;
    background-color: rgba(178, 188, 182, 0.1);
}

.app-container.reduzido .sidebar a.active-link {
    background-color: transparent;
    color: var(--cor-primaria);
}
/* #endregion */

/* #endregion */

/* #region 3. configurações gerais dos cards do dashboard */

.card-info-usuario {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    background: #1a1a1a;
    border: 1px solid #282828;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    
    display: flex;
    flex-direction: column;
    height: 370px;
    padding: 34px 24px 24px 24px;
    gap: 10px;
    margin-top: 5px;
}

.card-task-list {
    grid-column: 5 / span 4;
    grid-row: 1 / span 1;
    background-color: #1a1a1a;
    border: 1px solid #282828;
    border-radius: 16px;
    padding: 20px;
    height: 370px;
}

.card-galeria {
    grid-column: 9 / span 4;
    grid-row: 1 / span 1;
    height: 100%;
    background: #1a1a1a;
    border: 1px solid #282828;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    height: 370px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.card-depoimento {
    grid-column: 9 / span 4;
    grid-row: 2 / span 1;
    background: #1a1a1a;
    border: 1px solid #282828;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

    align-self: stretch;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-cadastros{
    grid-column: 1 / span 8;
    grid-row: 2 / span 2;
    background-color: #1a1a1a;
    border: 1px solid #282828;
    border-radius: 16px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

.card-visualizacao-perfil,
.card-deploy {
    background: #1a1a1a;
    border: 1px solid #282828;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card-visualizacao-perfil {
    grid-column: 9 / span 2;
    grid-row: 1.5 / span 1;

}

.card-deploy {
    grid-column: 11 / span 2;
    grid-row: 1.5 / span 1;
 
}

.card-form-whatsapp{
    background: #1a1a1a;
    border: 1px solid #282828;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    grid-column: 1 / span 4;
    grid-row: 4;
}

.card-form-whatsapp h3, .card-form-whatsapp label{
    color: white;
}
.card-form-whatsapp input, .card-form-whatsapp textarea{
    margin-top: 10px;
}
#form-whatsapp{
    margin-top: 10px;
}

/* #endregion */


/* #region CARD USUARIO */

.perfil-header {
    display: flex;
    align-items: center;
}

.avatar-wrapper {
    position: relative;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-right: 10px;
}

#foto-perfil {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
    cursor: pointer;
}

#foto-perfil:hover {
    filter: brightness(0.9);
}

.status-indicator {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #1a1a1a;
    background-color: var(--cor-primaria);
    transition: 0.3s;
}

.status-indicator.ocupado {
    background-color: var(--cor-secundaria);
}

#foto-perfil.ocupado {
    border-color: var(--cor-secundaria) !important;
}

.perfil-info {
    flex: 1;
    min-width: 0;
}

.perfil-info #mensagem-boas-vindas {
    font-size: 0.7rem;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.perfil-info h2 {
    font-size: 1.2rem;
    margin-bottom: 6px;
    white-space: normal;
    word-wrap: break-word;
}

.status-badge {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #252525;
    padding: 4px 12px;
    border-radius: 20px;
    width: fit-content;

    flex-wrap: wrap;
}

#status-texto {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--cor-primaria);
}

#btn-alternar-status {
    background: none;
    border: none;
    color: #888;
    font-size: 0.7rem;
    cursor: pointer;
    text-decoration: underline;
}

.divisor {
    border: 0;
    border-top: 1px solid #282828;
    margin: 2px 0;
}

.perfil-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.perfil-body h3 {
    font-size: 0.85rem;
    color: #888;
    margin-bottom: 5px;
}

#lista-skills {
    flex: 1;
    overflow-y: auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin-bottom: 5px;
    align-content: flex-start;
}

#lista-skills::-webkit-scrollbar {
    width: 6px; 
}

#lista-skills::-webkit-scrollbar-track {
    background: #1a1a1a; 
    border-radius: 10px;
}

#lista-skills::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 5px;
}

#lista-skills::-webkit-scrollbar-thumb:hover {
    background: #4ade80; 
}

#lista-skills li {
    background: rgba(74, 222, 128, 0.05);
    color: var(--cor-primaria);
    border: 1px solid rgba(74, 222, 128, 0.2);
    padding: 5px 12px;
    border-radius: 6px;
    font-size: 0.75rem;
    font-weight: 500;
}

.skills-actions {
    margin-top: auto;
    border-top: 1px solid #282828;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-group {
    display: flex;
    gap: 5px;
    width: 100%;
    margin-top: 15px;
}


.input-list {
    flex: 1;
    min-width: 0;
    background: #121212;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px 10px 10px 0px;
    color: #fff;
    outline: none;
    padding-left: 10px;

}

textarea{
    flex: 1;
    min-width: 0;
    background: #121212;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    outline: none;
}

.input-list:focus {
    outline: none;
    border-color: #ffffff !important;
    background-color: #1f1f1f;
}

textarea:focus{
    border-color: white;
}

#btn-inserir-skill {
    flex-shrink: 0;
    white-space: nowrap;
    background: var(--cor-primaria);
    color: #000;
    border: none;
    padding: 0 15px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

#btn-inserir-skill:hover {
    background-color: var(--cor-hover-btn);
    transform: translateY(-1px);
    transition: 0.2s;
}

#btn-remover-ultima-skill {
    background: none;
    border: 1px solid #333;
    color: var(--cor-secundaria);
    padding: 10px;
    border-radius: 8px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.2s;
}

#btn-remover-ultima-skill:hover {
    background: rgba(239, 68, 68, 0.1);
    border-color: var(--cor-secundaria);
    transform: translateY(-1px);
    transition: 0.2s;
}

#lista-skills li:hover {
    background: rgba(74, 222, 128, 0.2);
    transform: translateY(-1px);
    transition: 0.2s;
    cursor: default;
}

.user-name-text {
    color: #ffffff !important;
}

/* #endregion 3. primeiro card */

/* #region TASK LIST */
.active-task-list {
    background-color: #222;
    height: 100%;
    margin-top: 25px;
    border-radius: 15px;
    overflow: auto;
}

.card-task-list {
    display: flex;
    flex-direction: column;
}

.task-element {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    border-bottom: 1px solid rgba(74, 222, 128, 0.2);
    align-items: center;
    padding: 10px;
    background-color: #2d2d2d;
}

.task-element:last-child {
    border-bottom: none;
}

.task-element p {
    color: #e0e0e0;
    font-size: 0.9rem;
    line-height: 1.4;
}

.btn-remove-task {
    width: 26px;  
    height: 26px; 
    background: var(--cor-secundaria);
    color: white;

    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--cor-secundaria);
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.task-element:hover{
    background-color: rgb(98, 94, 94);
    border-radius: 8px;
}

.btn-remove-task:hover {
    transform: scale(1.05);
    filter: brightness(0.9);
}

.active-task-list::-webkit-scrollbar {
    width: 6px; 
}

.active-task-list::-webkit-scrollbar-track {
    background: #1a1a1a; 
    border-radius: 10px;
    margin: 10px 0; 
}

.active-task-list::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
}


.active-task-list::-webkit-scrollbar-thumb:hover {
    background: #4ade80; 
}

/* #endregion */

/* #region POST INTERATIVO*/

.social-media-container {
    border: 1px solid var(--cor-primaria);
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: 1;
    min-height: 0;
}
.destaque-sucesso{
    visibility: hidden;
}

.destaque-erro {
    visibility: visible !important;
    color: #dc3545 !important;
}

.hashtag-erro{
    color: var(--cor-secundaria);
}
#pf-idade, #pf-senha, #pf-senha-confirma{
    border-radius: 10px;
}
.input-list:focus, .select-cadastro:focus {
    outline: none;
    border-color: #ffffff !important;
}

#pj-descricao{
    resize: none;
}
.campo-validado{
    border-color: var(--cor-primaria) !important;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.2);
    border-radius: 10px;
    outline: none;
}

.campo-invalido{
    border: 1px solid #dc3545 !important;
}


.regras-negocio-labels-cadastro.destaque-erro {
    color: white;
    font-weight: 500;
}

#coracao-feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 80px;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10;
}

#coracao-feedback.animar {
    opacity: 0.9;
    transform: translate(-50%, -50%) scale(1.2);
}



.social-media-main {
    flex: 1;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    border-radius: 16px 16px 0 0;

    position: relative;
}

.img-projeto-zoom:hover {
    transform: scale(1.2);
}

.img-projeto-zoom {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}

#coracao {
    color: white;
    padding: 0px 5px 0px 5px;
}

#bookmark-txt {
    color: white;
    padding: 0px 5px 0px 5px;

}


#comentario {
    color: white;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}



#comentario:hover {
    transform: scale(1.1);
    color: var(--cor-primaria);
}

.interacoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.comentario {
    display: flex;
    gap: 12px;
    width: 100%;
    ;
    padding-left: 10px;
    ;
}

.secao-comentarios {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid #222;
    padding-top: 15px;

}

.username-social-media {
    color: #ffffff;
    ;
    font-weight: 700;
    font-size: 14px;
    margin-right: 6px;
    cursor: pointer;
}

.username-social-media:hover {
    opacity: 0.7;
}

.hashtag {
    color: var(--cor-primaria);
    cursor: pointer;
}

.txt-legenda {
    color: #e0e0e0;
    font-weight: 400;
    font-size: 13.5px;
    letter-spacing: 0.2px;
}

.container-scroll-comentarios {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 110px;
    overflow-y: auto;
    padding-right: 5px;
}

.container-scroll-comentarios::-webkit-scrollbar {
    width: 4px;
}

.container-scroll-comentarios::-webkit-scrollbar-thumb {
    background: #4ade80;
    border-radius: 10px;
}

.input-comentario-group {
    display: flex;
    gap: 8px;
    margin-top: 5px;
    flex-shrink: 0;
}

#input-novo-comentario {
    /* padding-left: 5px; */
    flex-grow: 1;
    background: #121212;
    border: 1px solid #333;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.txt-comentario {
    background: rgba(74, 222, 128, 0.05);
    border: 1px solid rgba(74, 222, 128, 0.2);
    color: #e8f6ed;
    border-radius: 0px 12px 12px 12px;
    flex-grow: 1;
    padding: 10px 14px;
    font-size: 0.85rem;
    line-height: 1.4;
    word-break: break-word;
}

.img-perfil-coment {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
    flex-shrink: 0;
}

.material-symbols-outlined {
    font-size: 20px;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    transition: font-variation-settings 0.2s ease;
}

.btn-interacao-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    border-radius: 8px;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    user-select: none;
    /* Impede seleção de texto no clique rápido */
}

.btn-interacao-item:hover {
    background: rgba(74, 222, 128, 0.08);
}

.btn-interacao-item p {
    color: white;
    font-size: 0.9rem;
    margin: 0;
}

.btn-interacao-item:active {
    transform: scale(0.95);
}

#coracao {
    transition: color 0.3s ease, font-variation-settings 0.3s ease;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#comentario {
    cursor: default;
}

.social-media-footer {
    flex-shrink: 0;
    width: 100%;
    border-top: 1px solid var(--cor-hover-btn);
    background: rgba(74, 222, 128, 0.05);
    padding: 10px;
    min-height: 50px;

    display: flex;
    flex-direction: column;
}

#btn-toggle-comentarios {
    transition: transform 0.2s ease;
}

#btn-toggle-comentarios:hover {
    transform: translateY(-1px);
    opacity: 0.8;
}

/* #endregion */

/* #region CADASTROS */

/* #region logica de toggle */

.toggle-cadastro {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 10; 
}

.toggle-cadastro h3{
    text-transform: uppercase;
}

.cadastro-pj, .cadastro-pf {
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cadastro-pf{
    margin-left: -1px;
}


.toggle-cadastro h3 {
    padding: 5px 25px 5px 25px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #333;
    /* border-bottom: 1px solid var(--cor-primaria);  */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #111;
    color: #888;
    white-space: nowrap;
    margin: 0;
    transition: all 0.2s ease;
    padding-top: 15px;
    border-bottom-color: transparent;

}
.app-container.reduzido .toggle-cadastro h3{
    margin-left: -4px;
}
.toggle-cadastro .active {
    z-index: 20; 
}

.toggle-cadastro .active h3 {
    background-color: #1a1a1a; 
    color: white;
    box-shadow: 10px 0px 10px #111;

    border-color:#222;
    border-bottom: 1px solid #1a1a1a !important; 
    padding-bottom: 6px; 
    position: relative;
    z-index: 20;
    padding-bottom: 8px;
}

.toggle-cadastro {
    border-bottom-color: transparent;
}
.toggle-cadastro div:not(.active) h3:hover {
    color: #ccc;
    background-color: #151515;
}

.cadastro-form-container {
    background-color: #1a1a1a;
    /* border: 1px solid var(--cor-primaria); */
    border: 1px solid #111;
    box-shadow: 5px 5px 5px 5px #111;
    border-radius: 0 16px 16px 16px;
    padding: 30px;
    margin-top: -1px; 
    position: relative;
    z-index: 5;
}

.tab-content {
    display: none;
    animation: fadeIn 0.3s ease;
}

.tab-content.active {
    display: block;
}



/* #endregion */

/* #region 3.6.1 formularios */

.select-cadastro, #select-genero-user{
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #333;
    padding: 10px;

}

.formularios-cadastro{
    display: flex;
    flex-direction: column;
}

.formulario-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
#cadastro-pj-descricao-area{
    grid-column: span 2;
}

#btn-cadastrar-empresa{
    grid-column: span 2;
}

#btn-cadastrar-empresa:hover{
    background-color: var(--cor-hover-btn);
    transform: translateY(-1px);
}

.formularios-cadastro h3{
    text-transform: uppercase;
}

.regras-negocio-labels-cadastro{
    visibility:hidden;
    font-size: 12px;
    margin-top: 5px;
    color: rgb(177, 173, 173);

}

.inactive-general{
    display: none;
}

.active-general{
    display: block;
}

.formularios-cadastro label{
    padding: 0px 0px 10px 0px;
    font-weight: bold;
}

.wrapper-form{
    display: flex;
    flex-direction: column;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 0px 0px 0px;
    color: white;
}

.checkbox-group label {
    font-weight: normal !important;
    font-size: 14px;
    cursor: pointer;

}

#btn-cadastrar-pf{
    grid-column: span 2;
}

#btn-cadastrar-pf:hover{
    background-color: var(--cor-hover-btn);
    transform: translateY(-1px);
}


#pj-data::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

#pj-data::-webkit-datetime-edit {
    color: #888; 
    padding-left: 10px;
}

.select-cadastro:invalid {
    color: #888; 
}

.select-cadastro option {
    color: #ffffff;
    background-color: #1a1a1a;
}


.select-cadastro:not(:invalid) {
    color: #ffffff;
}

#pj-atuacao{
    border-radius: 10px;
}

#pf-genero{
    border-radius: 10px;;
}

/* #endregion */

/* #endregion */

/* #region CARD DEPOIMENTO */


#btn-gerar-depoimento {
    flex-shrink: 0;
    white-space: nowrap;
    background: #4ade80;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

#btn-gerar-depoimento.on-hold {
    background: #c4cac6;
    color: #666;
    cursor: not-allowed;
}

#btn-gerar-depoimento.on-hold:hover {
    background: #c4cac6;
    color: #666;
    cursor: not-allowed;
    transform: translateY(-1px);

}

#btn-gerar-depoimento:hover {
    background-color: var(--cor-hover-btn);
    transform: translateY(-1px);
    transition: 0.2s;
}


#section-depoimentos {

    flex-grow: 1;
    min-height: 150px;
    background-color: #222;
    margin: 20px 0;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.item-depoimento {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    padding: 10px;

}

.texto-item {
    font-style: italic;
    font-size: 0.95rem;
    color: #eee;
    margin-bottom: 8px;
    line-height: 1.4;
}

.autor-item {
    color: #8bec7d;
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: 0;
}


/* #endregion */

/* #region VISUALIZAÇÃO E DEPLOY */

.visualizacao-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.header-visualizacao h2 {
    font-size: 1.1rem;
    margin: 0;
    text-align: left;
    width: 100%;
}

.visualizacao-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
}

#btn-ver-perfil-publico:hover {
    background-color: var(--cor-hover-btn);
    transform: translateY(-1px);
}

#btn-ver-perfil-publico,
#btn-deploy {
    width: 100%;
    max-width: 160px;
    white-space: normal;
    word-wrap: break-word;
    padding: 10px;
}

#btn-deploy:hover {
    transform: translateY(-1px);
    transition: 0.2s;
}



/* #endregion  */

/* #region API */
#btn-enviar-wa {
    background-color: var(--cor-primaria); 
    color: #000;
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

#btn-enviar-wa:hover {
    background-color: var(--cor-hover-btn);
    transform: translateY(-1px);
}
/* #endregion */
/* #region extra */
.duck-mode {
    --cor-pato: #f39c12;
    --fundo-pato: #f1c40f;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' style='font-size:24px;'><text y='50%'>🦆</text></svg>"), auto !important;
}

.duck-mode main {
    background-color: #f39c12 !important;
}

.duck-mode .card-info-usuario {
    animation: tremerPato 0.2s infinite;
    border: 5px dashed #fff !important;
}

@keyframes tremerPato {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    25% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    50% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    75% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -1px) rotate(-1deg);
    }
}

.duck-mode img:not(#foto-perfil) {
    filter: invert(1) hue-rotate(180deg);
}

.duck-mode .user-name-text {
    color: var(--cor-pato) !important;
}

.duck-mode .icone-logo {
    color: var(--cor-pato) !important;
}

.duck-mode #btn-inserir-skill {
    background-color: var(--cor-pato) !important;
}

.duck-mode #foto-perfil {
    transform: rotate(360deg);
    transition: 1s ease-in-out;
}

/* #endregion */

/* #region RESPONSIVIDADE  */

/* podia ser bem mais granular, mas já me passei nesse AT, então simplifiquei :P */
@media (max-width: 1366px){

    html,
    body {
        overflow: auto !important;
        height: auto;
    }

    .app-container {
        display: block !important;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -280px;
        width: 260px !important;
        height: 100vh;
        z-index: 9999;
        transition: left 0.3s ease-in-out;
        box-shadow: 5px 0 20px rgba(0, 0, 0, 0.8);
    }

    .app-container:not(.reduzido) .sidebar {
        left: 0;
    }

    #titulo-painel{
        margin-top: -50px;
        padding-left: 70px;
    }
  
    header{
        display: flex;
        align-items: center;
    }  
    
    .logo-wrapper{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    #btn-reduzir-nav{
        position: fixed;
        top: 29px;
        left: 200px;
    }

    .app-container.reduzido #btn-reduzir-nav{
        top: 29px;
        left: 25px;
    } 

    main {
        width: 100% !important;
        padding-top: 60px;
    }

    .dashboard-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 20px;
    }

    .dashboard-grid>div,
    .dashboard-grid>section {
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
        height: auto !important;
        min-height: 250px;
    }

}

/* #endregion */