*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* width: 100%; */
    height: 70px;
    border: 1px solid steelblue;
}
img{
    height: 68px;
    border-radius: 50%;
    align-self: center;
}

body{
    background-color: antiquewhite;
}

.box{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    background-color: tomato;
    border-radius: 50%;
    
}
nav{
    height: 50px;
    border: 1px solid indigo;
    text-align: center;
}
nav span{
    font-size: 24px;
    display: inline-block;
    width: 24%;
    line-height: 50px;
    background-color: steelblue;
    border-radius: 10px;
    /* margin-top: 10px; */
}

main{
    height: calc(100vh - 180px); /*viewport height = vh */
    border: 1px solid blue;
    background-color: antiquewhite;
}

section{
    width: 70vw;
    height: 100%;
    background-color: aliceblue;
    display: inline-block;
}

aside{
    width: 29vw;
    height: 100%;
    background-color: aquamarine;
    display: inline-block;
}

footer{
    height: 60px;
    border: 1px solid tomato;
}
