*{
  margin: 0;
  padding: 0;
}

body {
  color: #ecf0f1;
  background-color: #121212;
  margin: 40px auto;
  padding: 0 20px;
  font-family: Roboto, sans-serif;  
}

#titulo{
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 3px;
  color:#ffb74d;
}

.autoria{
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-size: 0.75em;
  color: #bdbdbd;
}

.autor{
  color: orange;
  text-transform: uppercase;
  font-size: 0.75em;
}

.normal{
  font-family: 'Lora', serif;
  line-height: 1.6;
}

.quote {
  font-family: 'Playfair Display', serif;
  margin-top: 10px;
  font-style: italic;
  text-align: left;
  padding: 15px;
  background: rgba(255,165,0,0.07);
  border-left: 6px solid orange;
  border-radius: 8px;
  color: #f0e6da;
}

.quote .autor {
  display: block;
  color: orange;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 12px;
}

.quote:hover {
  background: rgba(255,165,0,0.12);
}


