@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebebe3;
    font-family: "Roboto", sans-serif;
}

h1{
    display: none;
}

#container{
    text-align: center;
    width: 992px;
    margin: auto;

}

header img{
    border-radius: 50%;
    margin-top: 25px;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    padding: 25px 0px;
}


ul{
    list-style: none;
    align-content: center;
    background-color: #532c23;
    height: 35px;
    
}

ul li{
    display: inline-block;
    color: white;
    padding: 0px 15px;

    text-transform: uppercase;
    font-weight: 400;
}

nav li:hover{
    background-color: white;
    color: #532c23;
    scale: 1.3;
    border-radius: 5px;
    padding: 0px 15px;
}

main h2{
    color: #532c23;
    font-size: 60px;
    font-weight: 300;
}

main h2 strong{
    font-weight: 600;
}

.banner{
    position: relative;
    width: 992px;
    margin: 35px auto 0;
    border-radius: 10px;
    overflow: hidden;

}

.banner img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.lema{
    background-color: #532c2391;
    position: absolute;
    top: 10%;
    left: 2%;
    
    height: 180px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lema h3{
    color:#d9d9cd;
    margin: 0;
    padding: 15px;
    font-size: 20px;
    line-height: 1.3;

}


.onde-encontrar{
    display: flex;
    margin-top: 30px;
    gap: 25px;

    align-items: flex-start;
}

.grid-cafe{
    display: grid;
    grid-template-columns: 1fr 3fr ;
    align-items: start;

}

.grid-cafe p{
    text-align: left;
    margin-left: 15px;
    font-size: 16px;
    margin-right: 0px;
}

.cafes img{
    border-radius: 50%;
    
}


.lojas{
    width: 400px;
    display: inline-block;

}

.lojas p{
    margin-top: 15px;
}


.cafes h3{
    color: #532c23;
    margin-bottom: 15px;
    text-align: left;
    font-size: 28px;
    font-weight: 800;
    font-style: italic;

}

.lojas h3{
    color: #532c23;
    text-align: left;

    font-size: 28px;
    font-weight: 600;
    font-style: italic;

}

.lojas iframe{
    display: block;
}


footer p{
    text-transform: uppercase;
    margin-top: 15px;
    color: white;
    background-color: #532c23;
    padding: 10px 0;
}