@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

h1, h2{
    font-family: "Fjalla One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1{
    text-align: center;
    font-size: 6em;
    margin-bottom: 15px;
}


body{
    font-family: "Libre Baskerville", serif;
    background-color: beige;
    margin: 15px auto;
    max-width: 70vw;
    text-align: justify;
}

section::first-letter{
    font-size: 6em;
    font-weight: bold;
    float: left;
    line-height: 0.8;
    /* margin-left: 10px; */
}