*{
  color:rgb(80, 76, 76);
}

h1, h2{
  color: black;
}

#nome-proprio{
  color: blueviolet;
  font-weight: bold;
}

.texto-gritando{
  
  text-transform: uppercase;
  font-size: 25px;
  background-color: yellow;
}


ul li[type="A"]{
  color: blue;
}