*{
  color:rgb(80, 76, 76);
}

body{
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 50px;
}


h1, h2{
  /* text-transform: uppercase; */
  /* font-size: medium; */
  /* text-decoration: underline; */
  color: black;
}

#nome-proprio{
  color: blueviolet;
  font-weight: bold;
}

.texto-gritando{
  
  text-transform: uppercase;
  font-size: 25px;
  background-color: yellow;
}

a[href$=".com.br"]{
  font-style: italic;
  color: orange;
  background-color: gray;
}

ul li[type="A"]{
  color: blue;
}