/* 
Nem todo livro tinha entrada no Wikipedia, então criamos uma lista com esse título.
Também fizemos uma firula de aumentar o tamanho da imagem com o hover.
 */

ul{
    padding-left: 10px;
}
ul p{
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

ul li{
    list-style: none;
}

ul li img{
    max-height: 100px;
}

ul li img:hover{
    scale: 1.1;
}