p{
  color: gray;
}

.cursivo-italico{
  font-style: italic;
  font-family: cursive;
}

[data-type="bold"]{
  font-weight: bold;
}

[data-type="sublinhado"]{
  text-decoration: underline;
}

#destaque{
  background-color: #FFF59D;
  color:#333333;
}

.codigo{
    background-color: #C8E6C9;
  color:#424242;
}