nav span {
  display: block; 
  align-items: center;
  gap: 8px;
}

nav span a{
    text-decoration: none;
    color: #1a73e8;
}

nav span a:hover{
 color: #0c47b7;
}

nav a:visited {
  color: #6a0dad; 
}

nav img {
    width: 50px;
    object-fit: contain;   
}

